@font-face {
	font-family: 'Golos';
	src: url('/fonts/GolosText-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Golos';
	src: url('/fonts/GolosText-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Golos';
	src: url('/fonts/GolosText-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Golos';
	src: url('/fonts/GolosText-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}